.buy__top {
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  padding: 30px;
}

.buy__img-box1 {
  width: 86px;
  margin-left: auto;
  margin-right: 25px;
}

.buy__img-box2 {
  max-width: 284px;
}

.buy__img-box3 {
  max-width: 230px;
  margin-top: 30px;
}

.buy__top-hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.buy__top-title {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #1C1C27;
  margin-right: auto;
}

.buy__top-footer-text {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #DF6464;
}

.buy__top-footer-text2 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #AAAAAA;
}

.buy__top-footer-text3 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #DF6464;
  margin-left: 38px;
}

.buy__top-footer {
  display: flex;
  align-items: center;
  justify-content: end;
}



.buy__buttom {


  margin-top: 50px;

}

.buy__buttom-left {
  background: #F9F9F9;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.buy__buttom-title {
  width: 100%;
  padding: 22px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #1C1C27;
}

.buy__buttom-text-item {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #1C1C27;
  margin-bottom: 10px;
}

.buy__buttom-text-box {
  padding: 22px;
}

.buy__buttom-right-link {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 13px 86px;
  background-color: #101010;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: inline-block;

}

.buy__buttom-right {
  display: flex;
  flex-direction: column;
}

.buy__buttom-right-link2::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url('../img/basketimg.svg');
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.buy__buttom-right-link1 {
  padding: 16.5px 86px;
  margin-bottom: 18px;
}

.buy__buttom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.buy__buttom-left {
  width: 64%;
}




@media only screen and (max-width:600px) {
  .buy__top-footer {
    flex-direction: column;
  }

  .buy__top-title {
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width:1120px) {
  .buy__buttom{
    flex-direction: column;
    align-items: center;
  }

  .buy__buttom-right-link{
    margin-top: 20px;
  }

  .buy__buttom-left{
    width: 100%;
  }
}






































.like3 {
  position: absolute;
  top: 19px;
  left: 24px;
  width: 20px;
  height: 20px;
}

.like4 {
  display: none;
}

.label1 {
  position: relative;
}

.input1:checked+.label1 {
  .like3 {
    display: none;

  }

  .like4 {
    display: inline-block;
    position: absolute;
    top: 19px;
    left: 24px;
    width: 20px;
    height: 20px;
    animation-name: like;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
  }


}

@keyframes like {
  0% {
    transform: rotate(0deg);
  }

  50% {
    width: 60px;
    height: 60px;
  }

  100% {
    transform: rotate(360deg);
  }


}