.iphone__container {
  background-color: #101010;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}


.iphone__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #FFFFFF;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 252px;

}

.iphone__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

@media only screen and (max-width:600px) {
  .iphone__text {
    font-size: 20px;
    line-height: 24px;
  }
}